a, h2, h3, p, i {
     color: #020203;
}

 body{
     background-image: url(./img/bg.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}

 .container {
     margin-inline: auto;
     text-align: center;
     background-color: #E8E8E8;
     opacity: 0.9;
     padding: 20px;
     max-width: 900px;
}

 .nav a {
     margin-right: 10px;
}

 .latest, .articles, .news {
     text-align: start;
}

 .news, .articles{
     max-width: 900px;
     line-height: 25px;
}
 
